
:root {
	--background:#3f3f3f;
	--foreground:#dcdccc;
	--highlight:#60b48a;
  --quote:#84aad9;
	--hover:#506070;
}

body,
body #feed .badge,
body #feed .entry,
body #feed #tabs,
body #operator,
body #portal,
body #operator #options,
body #operator textarea,
body #feed #tabs t {
	background-color: var(--background);
	color: var(--foreground);
}

body #feed .entry .message.quote {
  color: var(--foreground);
}

body #operator #hint,
body #feed #tabs t:hover,
body #feed #tabs t.active {
  background-color: var(--background);
  color: var(--highlight);
}

body #feed .badge:hover,
body #feed .entry:hover {
	background-color: var(--hover);
}

body #feed yu a,
body #feed .entry .portal,
body #feed .entry .link,
body #feed .entry .timestamp,
body #feed .entry .link:hover {
  color: var(--highlight);
}